<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <h1>
                <a href="#intro" class="scrollto">Nine Sense</a>
            </h1>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url('assets/img/intro-carousel/1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>RASA Chatbot</h2>
                            <p>Intelligent chatbot</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('assets/img/intro-carousel/2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Nine Sense Company is smart and wonderful.</h2>
                            <p>We are ready for you anytime.</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('assets/img/intro-carousel/3.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Scraping & Data Science</h2>
                            <p>Data/Web Scraping by Python, Multi Processing, NLP, Machine Learning, Pandas, Matplotlib, Time Series Analysis
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('assets/img/intro-carousel/5.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Mobile</h2>
                            <p>React Native / Ionic / Xamarine, Native Apps, AI Sensitive, Firebase, UI / UX</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('assets/img/intro-carousel/7.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>AI Chatbot And Speech Recognition</h2>
                            <p>Python, NLTK, SpaCy, Tensorflow, scikit-learn, Chatbot – Rasa, Dialogflow, UI/UX, Bot Integration, No repeated fallback, Speech Recognition – No Delay in real time
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>
<!-- #intro -->

<main id="main">

    <!--==========================
    Featured Services Section
  ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-ios-people-outline"></i>
                    <h4 class="title"><a href="">Company Introduction</a></h4>
                    <p class="description">
                        Nova Cambodia Inc was renamed to Ninesenses Inc. Our company is responsing speedly to new technology, specialized our talents is going ahead in the talent's era of today.
                    </p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-world-outline"></i>
                    <h4 class="title"><a href="">Our Solgan</a></h4>
                    <p class="description">
                        Nine Sense in Everything !
                        <br>Nothing is impossible !
                    </p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-time-outline"></i>
                    <h4 class="title"><a href="">Hollo</a></h4>
                    <p class="description">Thank you for your visiting our homepage.<br>We want you will spend beneficial time.</p>
                </div>

            </div>
        </div>
    </section>
    <!-- #featured-services -->

    <!--==========================
    About Us Section
  ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p>
                    We believe that AI will unlock another era of world development, and that the R&D and deployment of computer vision and deep learning technologies will redefine human life as we know it and establish a new connection between us and the world at large.
                    Not only will this transform society as a whole, but it will push mankind forward as well.
                </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            Create, apply, and share intelligence to advance causes that benefit the human society
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Plan</a></h2>
                        <p>
                            Leading new technology, Corporating Market partnership, Owning State of the art in the AI
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            The technology and solution for whole world. Creative Ideas, DevOps, AI, Drastic actions
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- #about -->

    <!--==========================
    Services Section
  ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Services</h3>
                <p>
                    We are supporting Surveillance, Enterprise Business, Business Process, Security, Monitoring Solutions. Talented AI will be in every solutions.
                </p>
            </header>

            <div class="row">
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon">
                        <i class="ion-ios-analytics-outline"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Scraping & Data Science</a>
                    </h4>
                    <p class="description">
                        Web & Data Scraping
                        <br> Technologies Trend Analysis
                        <br> Data Mining
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="">AI</a></h4>
                    <p class="description">
                        RASA Chatbot
                        <br> Deep Learning
                        <br> Speech Recognition
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="">eGovernment</a></h4>
                    <p class="description">
                        NII (National Information Infra) & IT Center
                        <br> PAIS (Provincial Admin Information System)
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title"><a href="">eBusiness</a></h4>
                    <p class="description">
                        BPM (Business Process Management)
                        <br> GSM Portal (Global S/W Maintenance Portal)
                        <br> Enterprise Portal
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-social-apple-outline"></i></div>
                    <h4 class="title"><a href="">Mobile</a></h4>
                    <p class="description">
                        RASA Chatbot
                        <br> Simple and Smart Homepage
                        <br> Mobile IP Surveillance
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="">Web</a></h4>
                    <p class="description">
                        Respnsive and Progressive Homepage
                        <br> RASA Chatbot Integration
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-videocam-outline"></i></div>
                    <h4 class="title"><a href="">IP Surveillance</a></h4>
                    <p class="description">IP Camera, NVR, NAS NVR
                        <br> Mobile
                        <br> CubeLive
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    <h4 class="title"><a href="">DB Solution</a></h4>
                    <p class="description">
                        Orange, Data Tracer / Masker
                        <br> Tentao ETL: DI, Pentaho open source based
                        <br> EAS : Email Archiving System
                    </p>
                </div>

            </div>

        </div>
    </section>
    <!-- #services -->

    <!--==========================
    Call To Action Section
  ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Call To Action</h3>
            <p>
                Please once touch us, we will do best for you. Your actions will be creative and drastic , you will have a great chance for world innovations with us. We are already prepared. Please..
            </p>
            <a class="cta-btn scrollto" href="#contact">Call To Action</a>
        </div>
    </section>
    <!-- #call-to-action -->

    <!--==========================
    Skills Section
  ============================-->
    <section id="skills">
        <div class="container">

            <header class="section-header">
                <h3>Our Skills</h3>
            </header>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Artificial Intelligence</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">IT Process: DevOps Full Stack</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Languages: Powerful Python, MEAN / MERN Full Stack, Web (Angular, React), Mobile
            (React Native, Ionic, Native App)</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Interesting: IoT, Odoo ERP</span>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!--==========================
    Portfolio Section
  ============================-->
    <section id="portfolio" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Our Portfolio</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-sdc">Data Science</li>
                        <li data-filter=".filter-ai">AI</li>
                        <li data-filter=".filter-eg">eGovernment</li>
                        <li data-filter=".filter-eb">eBusiness</li>
                        <li data-filter=".filter-app">Mobile</li>
                        <li data-filter=".filter-web">Web</li>
                        <li data-filter=".filter-ip">IP Surveillance</li>
                        <li data-filter=".filter-db">DB</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-3 col-md-6 portfolio-item filter-sdc wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/sdc1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/sdc1.jpg" data-lightbox="portfolio" data-title="Site Analysis" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">Site Analysis</a></h4>
                            <p>Scraping & Data Science</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-sdc wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/sdc2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/sdc2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Service & Technology" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">Service & Technology</a></h4>
                            <p>Scraping & Data Mining</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-ai wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/ai2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/ai2.jpg" class="link-preview" data-lightbox="portfolio" data-title="ai 2" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">RASA Chatbot</a></h4>
                            <p>AI</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-eg wow fadeInUp" data-wow-delay="0.3s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/eg1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/eg1.jpg" data-lightbox="portfolio" data-title="Site Analysis" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">NII & IT Center</a></h4>
                            <p>eGovernment</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-eg wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/eg2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/eg2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Service & Technology" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">PAIS</a></h4>
                            <p>eGovernment</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-eb wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/eb1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/eb1.jpg" class="link-preview" data-lightbox="portfolio" data-title="BPM" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">BPM</a></h4>
                            <p>eBusiness</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-eb wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/eb2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/eb2.jpg" class="link-preview" data-lightbox="portfolio" data-title="GSM, Enterprise Portal" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">GSM, Enterprise Portal</a></h4>
                            <p>eBusiness</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.3s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">App 1</a></h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-web wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">Angular Web</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">React Web</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-ip wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/ip1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/ip1.jpg" class="link-preview" data-lightbox="portfolio" data-title="IP Camera, NVR" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">IP Camera, NVR</a></h4>
                            <p>IP Surveillance</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-ip wow fadeInUp" data-wow-delay="0.3s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/ip2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/ip2.jpg" class="link-preview" data-lightbox="portfolio" data-title="IP Camera, NVR" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">NVR, CubeLive</a></h4>
                            <p>IP Surveillance</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-db wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/db1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/db1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Orange, EAS" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">Orange, EAS</a></h4>
                            <p>DB Solution</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-ai wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/ai1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/ai1.jpg" class="link-preview" data-lightbox="portfolio" data-title="ai 1" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">Face Recognition</a></h4>
                            <p>AI</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- #portfolio -->

    <!--==========================
    Clients Section
  ============================-->
    <section id="clients" class="wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Our Partners</h3>
            </header>

            <div class="owl-carousel clients-carousel">
                <img src="assets/img/clients/client-1.png" alt="">
                <img src="assets/img/clients/client-2.png" alt="">
                <img src="assets/img/clients/client-3.png" alt="">
                <img src="assets/img/clients/client-4.png" alt="">
                <img src="assets/img/clients/client-5.png" alt="">
                <img src="assets/img/clients/client-6.png" alt="">
                <img src="assets/img/clients/client-7.png" alt="">
                <img src="assets/img/clients/client-8.png" alt="">
            </div>

        </div>
    </section>
    <!-- #clients -->

    <!--==========================
    Clients Section
  ============================-->

    <!--==========================
    Contact Section
  ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>Contact us anytime, We are ready for you.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>Trung Morn Street, Phnom Phen, Cambodia</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+85501584042">+ 855 967 288 503</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="#">andaniel2029@gmail.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Your Name" formControlName="name" #name />
                    </div>
                    <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger text-center">
                        <div *ngIf="angForm.controls['name'].errors.required">
                            * Name is required.
                        </div>
                        <div *ngIf="angForm.controls['name'].errors.minlength">
                            * More than 2 letters.
                        </div>
                        <div *ngIf="angForm.controls['name'].errors.pattern">
                            * Invalid pattern. (Only a-z, A-Z and 0-9)
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" formControlName="email" #email />
                    </div>
                    <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger text-center">
                        <div *ngIf="angForm.controls['email'].errors.required">
                            * Email is required.
                        </div>
                        <div *ngIf="angForm.controls['email'].errors.email">
                            * Invalid Email Address.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" placeholder="Subject" formControlName="subject" #subject />
                    </div>
                    <div *ngIf="angForm.controls['subject'].invalid && (angForm.controls['subject'].dirty || angForm.controls['subject'].touched)" class="alert alert-danger text-center">
                        <div *ngIf="angForm.controls['subject'].errors.required">
                            * Subject is required.
                        </div>
                        <div *ngIf="angForm.controls['subject'].errors.minlength">
                            * More than 5 letters.
                        </div>
                        <div *ngIf="angForm.controls['subject'].errors.pattern">
                            * Invalid pattern. (Only a-z, A-Z and 0-9)
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" formControlName="message" #message></textarea>
                    </div>
                    <div *ngIf="angForm.controls['message'].invalid && (angForm.controls['message'].dirty || angForm.controls['message'].touched)" class="alert alert-danger text-center">
                        <div *ngIf="angForm.controls['message'].errors.required">
                            * Message is required.
                        </div>
                        <div *ngIf="angForm.controls['message'].errors.minlength">
                            * More than 9 letters.
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" [disabled]="angForm.pristine || angForm.invalid">
                        <i class="fa fa-send-o"></i> Send Message
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Nine Sense</h3>
                    <p>
                        We believe that AI will unlock another era of world development, and that the R&D and deployment of computer vision and deep learning technologies will redefine human life as we know it and establish a new connection between us and the world at large.
                        Not only will this transform society as a whole, but it will push mankind forward as well.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul class="useful-link">
                        <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#services">Services</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Portfolio</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Trung Morn Street <br> Phnom phen, <br> Cambodia <br>
                        <strong>Phone:</strong> +855 967 288 503<br>
                        <strong>Email:</strong> andaniel2029@gmail.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Nine Sense - 2019</strong>. All Rights Reserved
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<span class="chat_bot" id="chatbot" hidden>
<i class="fa fa-comments"></i>
</span>

<div class="mychatbot" id="mychatbot">
    <Chat-bot class="chat-window" [token]="'0146bb6bc73f4ef4bbf44e82aa6af957'" [msg]="msg" [msgTemplate]='message' [inputTemplate]='input' (onMsgReceive)="onMsgReceive($event)">
        <ng-template #window>
        </ng-template>
    </Chat-bot>

    <ng-template #message let-text="text" let-object="object" let-sendBy="sendBy">
        <chat-msg [msg]="{text: text,sendBy: sendBy}"></chat-msg>
    </ng-template>
    <ng-template #input>
        <chat-input (change)="onChange($event.target);"></chat-input>
    </ng-template>
</div>
