<!-- <div [ngSwitch]="msg.sendBy">
  <div *ngSwitchCase="'bot'" class="msg" [class.show]="isVisible">
    <mat-card class="card bot">
      <mat-card class="icon">
        <i class="fa fa-comments">
        </i>
      </mat-card>
      <mat-card-content>
        {{msg.text}}
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngSwitchCase="'button'" class="msg" [class.show]="isVisible">
    <button class="bg-info" (click)="btn_Click(msg.text)">{{msg.text}}</button>
  </div>

  <div *ngSwitchCase="'image'" class="msg" [class.show]="isVisible">
    <mat-card class="card bot">
      <mat-card class="icon">
        <i class="fa fa-comments">
        </i>
      </mat-card>
      <mat-card-content>
        <img class="res_image" src="{{msg.text}}">
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngSwitchCase="'user'" class="msg user-msg" [class.show]="isVisible">
    <mat-card class="card user">
      <mat-card class="client_icon">
        <i class="fa fa-male">
        </i>
      </mat-card>
      <mat-card-content>
        {{msg.text}}
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
